name: CI

on:
  push: {}

jobs:

  render-go-cli:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Mise install
      uses: jdx/mise-action@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Render
      run: task render-go-cli

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: ./tmp/go-cli-project/go.mod

    - name: Run e2e test for generated project
      working-directory: ./tmp/go-cli-project
      run: task test:e2e

    - name: Run goreleaser local for generated project
      working-directory: ./tmp/go-cli-project
      run: task release:local

    - name: Run generated binary
      working-directory: ./tmp/go-cli-project/dist
      run: ./go-cli-project_linux_amd64_v1/go-cli-project --version

  render-go-worker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Mise install
      uses: jdx/mise-action@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Render
      run: task render-go-worker

    - name: Builder docker image
      working-directory: ./tmp/go-worker-project
      run: task docker:build

  render-chi-api:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Mise install
      uses: jdx/mise-action@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Render
      run: task render-chi-api

    - name: Builder docker image
      working-directory: ./tmp/chi-api-project
      run: task docker:build

  render-asdf-plugin:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Mise install
      uses: jdx/mise-action@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Render a plugin (boilerplate)
      run: task render-asdf-plugin

    - name: List all versions of the plugin
      working-directory: ./tmp/asdf-plugin-boilerplate
      run: ./bin/list-all

    - name: Install and run a specific version of the plugin
      working-directory: ./tmp/asdf-plugin-boilerplate
      run: |
        ./bin/install
        ./tmp/bin/boilerplate -v
      env:
        ASDF_INSTALL_VERSION: '0.5.12'
        ASDF_INSTALL_PATH: ./tmp
